#header{
  height: 80px;
  width: 100%;
  background-color:#90AFC5;
  position: fixed;
}

.head-button{
  height: 50px;
  margin: 15px 5px 15px 5px;
  vertical-align: middle;
  background-color: #2A3132;
  color: white;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border-width: thin;
}

.head-button:hover{
  background-color: white;
  color: #2A3132;
}

#main-background{
  background-color: #336B87;
}

#about-me{
  padding-top: 100px;
}

.container{
  padding-left: 20%;
  padding-right: 20%;
  background-color: white;
  background-clip: content-box;
}

#about-me-text{
  width: 74%;
  display: inline-block;
  vertical-align: top;
}

#about-me-img{
  width: 24%;
  display: inline-block;
  vertical-align: top;
}

#portfolio{
  padding-top: 100px;
}

.image-gap{
  height: .5em;
}

#pic-holder{
  width: 98%;
  margin: 0 auto;
}

h1{
  margin: 0px;
}

body{
  margin: 0px;
  font-family: Helvetica, sans-serif;
}
p{
  font-size: 18px;
}

.port-align{
  width: 45%;
  display: inline-block;
}

.keep-in{
  padding-left: 1%;
  padding-right: 1%;
}

#links{
  padding-top: 100px;
}

#githublogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
